body {
  background-color: rgb(139, 201, 255);
}


#header {
  /* display: flex;
  flex-flow: column; */
  gap: 5px;
  margin-left: 10%;
  background-color: rgba(240, 248, 255, 0.703);
  padding: 60px;
  /* text-align: center; */
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

h4 {
  margin-top: 0px;
}

.container{ 
  display: flex;
  flex-flow: column;
  align-content:normal;
  justify-content:flex-start;
  align-items:flex-start;
  gap: 30px;
  margin: 10px;
  margin-left: 15%;
}

.item {
  padding: 20px;
}

#form-div {
  order: 0;
  /* background-color: rgba(255, 255, 255, 0.418); */
  
}

#pricediv {
  order: 1;
  flex: 1;
  flex-basis: content;
}

#form-div, #price-div {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}