body {
  background-image: url(pizza-oven.jpeg);
}


#header {
  /* display: flex;
  flex-flow: column; */
  gap: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(240, 248, 255, 0.535);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #1abc9c7c;
  color: white;
  font-size: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(159, 2, 2),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

h4 {
  margin-top: 0px;
}

.container{ 
  display: flex;
  flex-flow: column;
  align-content:normal;
  justify-content:flex-start;
  align-items:flex-start;
  gap: 30px;
  margin: 10px;
  margin-left: 15%;
}

.item {
  padding: 20px;
}

#form-div {
  order: 0;
}

#pricediv {
  order: 1;
  flex: 1;
  flex-basis: content;
  width: 400px;
}

p{
  font-style: italic;
}

#form-div, #price-div {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(103, 103, 103),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.819);
}